*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.custome-logo-size{
    width: 4rem;
}

.custom-btn-style:hover{
    background-color: #ffa900;
}
.custome-card-section-2{
    width: 20;

}
.custome-logo-company{
    width: 50px;
}
.custom-section2-right-container{
    height: fit-content;
}